

html {
  background-color:#363636;
  font-size: 62.5%;
}
body{
  font-size: 1.4rem;
}
h1{
  font-size:2.4rem;
  font-weight: bold;
}
.navbar{
    background-color:transparent;
}
.hero.is-fullheight .hero-body{
    &.home-body{
      font-size: 1.2em;
      z-index: 1;
    }

}